MicroserviceApp/Backend/AdvertManager/src/main/resources/team18-agent.wsdl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://uns.ac.rs/xml/team18/agent" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uns.ac.rs/xml/team18/agent" targetNamespace="http://uns.ac.rs/xml/team18/agent">
  <wsdl:types>
    <xs:schema xmlns:t="http://uns.ac.rs/xml/team18/agent" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://uns.ac.rs/xml/team18/agent" version="1.0">
        
  
  
  <xs:element name="createCarBrandRequest" type="t:createCarBrandRequest"/>
        
  
  
  <xs:element name="createCarBrandResponse" type="t:createCarBrandResponse"/>
        
  
  
  <xs:complexType name="createCarBrandRequest">
                
    
    
    <xs:sequence>
                        
      
      
      <xs:element name="name" type="xs:string"/>
                        
      
      
      <xs:element name="isRemoved" type="xs:boolean"/>
                      
    
    
    </xs:sequence>
              
  
  
  </xs:complexType>
        
  
  
  <xs:complexType name="createCarBrandResponse">
                
    
    
    <xs:sequence>
                        
      
      
      <xs:element name="status" type="xs:string"/>
                      
    
    
    </xs:sequence>
              
  
  
  </xs:complexType>
      


</xs:schema>
  </wsdl:types>
  <wsdl:message name="createCarBrandRequest">
    <wsdl:part element="tns:createCarBrandRequest" name="createCarBrandRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCarBrandResponse">
    <wsdl:part element="tns:createCarBrandResponse" name="createCarBrandResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Team18AgentPort">
    <wsdl:operation name="createCarBrand">
      <wsdl:input message="tns:createCarBrandRequest" name="createCarBrandRequest">
    </wsdl:input>
      <wsdl:output message="tns:createCarBrandResponse" name="createCarBrandResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Team18AgentPortSoap11" type="tns:Team18AgentPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createCarBrand">
      <soap:operation soapAction=""/>
      <wsdl:input name="createCarBrandRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createCarBrandResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Team18AgentPortService">
    <wsdl:port binding="tns:Team18AgentPortSoap11" name="Team18AgentPortSoap11">
      <soap:address location="http://localhost:9090/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>